{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cn", "clsx", "cva", "twMerge", "twJoin"],
  "tailwindStylesheet": "./src/app/globals.css"
}
